<style>
            html {
                height: 470px;
                background-color: #2A6CFA;
            }

            body {
                height: 100px;
                background-color: #2A6CFA; 
                margin: 10px;

            }
            body, h1, p {
                font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
            }

            body {
                min-width: 350px;
                min-height: 150px;
                font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
            }

            /*----- Tabs -----*/
			.tabs {
		    	width:100%;
		    	display:inline-block;
			}
		 
		    /*----- Tab Links -----*/
		    /* Clearfix */
		    .tab-links:after {
		        display:block;
		        clear:both;
		        content:'';
		    }
		 
		    .tab-links li {
		        margin:0px 5px;
		        float:left;
		        list-style:none;
		    }

		    .tab-links a {
		            padding:9px 15px;
		           	width: 120px;
		           	text-align: center;
		            display:inline-block;
		            border-radius:3px 3px 0px 0px;
		            background:#7FB5DA;
		            font-size:16px;
		            font-weight:600;
		            color:#4c4c4c;
		            transition:all linear 0.15s;
		    }

		    #start {
		    	margin-left: -30px;
		    }
		 
		        .tab-links a:hover {
		            background:#a7cce5;
		            text-decoration:none;
		        }
		 
		    li.active a, li.active a:hover {
		        background:#fff;
		        color:#4c4c4c;
		        outline: none;
		    }
		 
		    /*----- Content of Tabs -----*/
		    .tab-content {
		        padding:15px;
		        border-radius:3px;
		        box-shadow:-3px 3px 3px rgba(0,0,0,0.45);
		        background:#fff;
		        margin-top: -12px;
		        text-align: center;
		    }
		 
	        .tab {
	            display:none;
	        }
	 
	        .tab.active {
	            display:block;
	        }

           /*---- Text field style ----*/
            input[type="text"] {
				width: 200px
            }

            input:focus {
            	outline: none;
            }

            /*---- Text style ----*/
            h1 {
            	font-weight: 100;
                font-size: 16px; 
            }
</style>